<div class="auth-container">
    <h1>Login</h1>
    <form action="/login" method="POST">
        <div class="form-control">
            <input type="email" name="email" placeholder="E-mail">
        </div>
        <div class="form-control">
            <input type="password" name="senha" placeholder="Senha">
        </div>
        <div class="form-control">
            <input type="submit" value="ACESSAR">
        </div>
        <a href="/registrar">Não possui Registro? <strong>Clique aqui para se registrar!!</strong></a>
    </form>
</div>